* {
  margin: 0 auto;
}

header {
  width: 1920px;
  height: 48px;
}

.logo {
  margin: 9px 0 9px 363px;
  width: 76px;
  height: 30px;
  float: left;
}

nav {
  margin: 9px 363px 9px 0;
  width: 158px;
  height: 30px;
  float: right;
  background-color: #FFFFFF;
}

.button__create-room {
  float: left;
  margin: 2px 10px 2px 0;
  width: 54px;
  height: 26px;
  font-size: 12px;
  font-weight: 400;
  border: none;
  border-radius: 100px;
  color: #7F71DB;
  background-color: #f3f3fb;
}

.button__enter-room {
  float: left;
  margin: 2px 10px 2px 0;
  width: 54px;
  height: 26px;
  font-size: 12px;
  font-weight: 400;
  border: none;
  border-radius: 100px;
  color: #7F71DB;
  background-color: #f3f3fb;
}

.button__my-account {
  float: left;
}

.divider {
  width: 1920px;
  height: 1px;
  background-color: #e8e8e8;
}

main {
  padding: 28px 0 0 0;
  width: 1920px;
  height: 1004px;
  background-color: rgb(249, 250, 251);
}


article {
  margin: 0 0 0 363px;
  width: 888px;
  height: 580px;
  float: left;
  border-radius: 10px;
  background-color: #f3f3fb;
}

.room__title {
  margin: 20px 0 0 20px;
  width: 262px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 500;
  color: #7F71DB;
  background-color: #FFFFFF;
}

.button__do-mission {
  margin: 50px 0 0 389px;
  padding: 0;
  width: 110px;
  height: 32px;
  display: block;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #4733cc;
}

.icon__mission {
  margin: 20px 0 0 412px;
  width: 64.82px;
  height: 65.44px;
  display: block;
}

.room__mission--insert {
  margin: 20px 0 20px 204px;
  width: 480px;
  height: 44px;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.icon__master {
  margin: 7px 12px 7px 12px; 
  width: 30px;
  height: 30px;
  float: left;
}

.room__mission--input {
  margin: 12px 0 12px 0;
  width: 294px;
  height: 20px;
  padding: 0;
  border: none;
  outline: none;
  float: left;
}

.button__upload {
  margin: 6px 12px 0 6px;
  width: 110px;
  height: 32px;
  border-radius: 100px;
  float: right;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #7f71db;
  background-color: #f3f3fb;
}

.button__upload:hover {
  color: #f3f3fb;
  background-color: #7f71db;
}

.room__mission--list {
  padding-left: 0;
  width: 480px;
  height: 180px;    /*temp*/
  overflow-y: auto; 
}


.room__mission--list::-webkit-scrollbar {
  display: none;
}

.missions {
  margin: 12px 0 0 0;
  padding: 0;
  width: 480px;
  height: 48px;
  border-radius: 5px;
  background-color: #FFFFFF;
  position: relative;
  list-style: none;
}

.mission {
  padding: 13px 0 0 0;
  width: 300px;
  height: 23px;
  font-size: 16px;
  font-weight: 500;
  color: #4733cc;
  text-align: center;
}

.button__mission--complete {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  background-color: #FFFFFF;
  position: absolute;
  right: 66px; 
  top: 16px;
}

.button__mission--delete {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  background-color: #FFFFFF;
  position: absolute;
  right: 22px;
  top: 16px;
}

.button__back {
  margin: 20px 0 0 418px;
  padding: 0;
  border: none;
  width: 52px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #b4b4b4;
  background-color: #f3f3fb;
}

aside {
  margin: 0 0 0 30px;
  width: 276px;
  height: 580px;
  border-radius: 10px;
  background-color: #FFFFFF;
  float: left;
  position: relative;
}

.member {
  margin: 20px 0 0 20px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.room__members {
  padding: 20px 20px 20px 20px;
  width: 236px;
  height: 453px;
}

.room__member {
  margin: 0 0 12px 0;
  width: 236px;
  height: 30px;
  list-style: none;
}

.room__member--info {
  width: 236px;
  height: 30px;
}

.room__member--img {
  margin: 0;
  width: 30px;
  height: 30px;
  float: left;
}

.room__member--name {
  padding: 7px 0 0 12px;
  font-size: 14px;
  font-weight: 400;
  float: left;
}

.room__member--host {
  margin: 3px 0 0 0;
  width: 24px;
  height: 24px;
  float: right;
}

.room__code {
  position: absolute;
  right: 20px;
  bottom: 20px; 
}

.room__code--title {
  margin: 4px 0 0 0;
  width: 36px;
  height: 17px;
  font-size: 12px;
  font-weight: 400;
  float: left;
}

.room__code--code {
  margin: 4px 0 0 20px;
  width: 49px;
  height: 17px;
  font-size: 12px;
  font-weight: 500;
  float: left;
}

.room__code--copy {
  margin: 0 0 0 12px;
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  float: left;
  background-color: #FFFFFF;
}