* {
  margin: 0px;
  padding: 0px;
}

/* header */

header {
  margin: 0 auto;
  width: 100%;
  height: 48px;
  background-color: white;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: 1194px;
  }
}

#gnb {
  display: flex;
  align-items: center;
  height: 100%;
}

#createRoom,
#joinRoom {
  margin-right: 20px;
  width: 54px;
  height: 26px;
  border-radius: 100px;
  border: none;
  color: #7f71d8;
  background-color: #f3f3fb;
  cursor: pointer;
}

#createRoom:hover,
#joinRoom:hover {
  color: #8a7ed8;
  background-color: #ebebff;
}

#dropdown {
  position: relative;
  display: inline-block;
  font-size: 14px;
  padding: 14px;
  cursor: pointer;
}

#dropdownBtn div {
  justify-content: flex-end;
}

#dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  margin-top: 14px;
  min-width: 130px;
  padding: 4px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);

  a {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: #fafafa;
      border-radius: 5px;
    }
  }
}

#dropdown:hover #dropdownContent {
  display: block;
}

/* writeRoomInfo */

body {
  background-color: #f9fafb;
}

section {
  margin: 30px auto;
  width: 1194px;
  height: 580px;
  background-color: white;
  border-radius: 10px;

  > div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 102px;
    width: 262px;
  }
}

#tit {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#explain {
  margin-bottom: 12px;
  font-size: 12px;
  color: #b4b4b4;
  text-align: center;
}

#inputTit {
  margin-bottom: 4px;
  font-size: 12px;
}

#name {
  margin-bottom: 12px;
  padding-left: 20px;
  width: 242px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
}

#codeWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 20px;
  width: 242px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
}

#code {
  border: none;
  background-color: #e8e8e8;
}

#copyBtn {
  margin-right: 20px;
  cursor: pointer;
}

#enterBtn {
  margin: 0 auto;
  width: 110px;
  height: 32px;
  color: white;
  background-color: #4733cc;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
