* {
  margin: 0px;
  padding: 0px;
}

ul,
li,
a {
  list-style: none;
  text-decoration-line: none;
}

/* header */

header {
  margin: 0 auto;
  width: 100%;
  height: 48px;
  background-color: white;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: 1194px;
  }
}

#gnb {
  display: flex;
  align-items: center;
  height: 100%;
}

#createRoom,
#joinRoom {
  margin-right: 20px;
  width: 54px;
  height: 26px;
  border-radius: 100px;
  border: none;
  color: #7f71d8;
  background-color: #f3f3fb;
  cursor: pointer;
}

#createRoom:hover,
#joinRoom:hover {
  color: #8a7ed8;
  background-color: #ebebff;
}

#dropdown {
  position: relative;
  display: inline-block;
  font-size: 14px;
  padding: 14px;
  cursor: pointer;
}

#dropdownBtn div {
  justify-content: flex-end;
}

#dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  margin-top: 14px;
  min-width: 130px;
  padding: 4px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);

  a {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: #fafafa;
      border-radius: 5px;
    }
  }
}

#dropdown:hover #dropdownContent {
  display: block;
}

/* join */

body {
  background-color: #f9fafb;
}

#pageWrap {
  margin: 30px auto;
  width: 1194px;
  height: 580px;
  background-color: white;
  border-radius: 10px;
}

#pageInner {
  display: flex;
  margin: 0 auto;
  padding-top: 102px;
  width: 760px;
}

#joinWrap {
  display: flex;
  justify-content: center;
  width: 498px;
  border-right: 1px solid #e8e8e8;
}

#joinWrapInner {
  width: 262px;
}

#tit {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#name,
#email,
#password,
#passwordCk {
  margin-bottom: 12px;
  padding-left: 20px;
  width: 242px;
  height: 44px;
  color: #b4b4b4;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

#checkBoxWrap {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12px;
}

#checkBoxInner {
  display: flex;
}

#checkBox {
  margin-left: 6px;
  margin-right: 18px;
}

#askConsent {
  color: #b4b4b4;
  font-size: 12px;
}

#viewConsent {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    color: #b4b4b4;
  }
}

#joinBtn {
  margin-bottom: 12px;
  width: 262px;
  height: 44px;
  color: white;
  background-color: #b4b4b4;
  border-radius: 5px;
  border: none;

  &:hover {
    background-color: #a7a7a7;
    cursor: pointer;
  }
}

#joinLinkWrap {
  margin-bottom: 8px;
}

#askAboutLink {
  color: #b4b4b4;
  font-size: 12px;
}

#loginLink {
  margin-left: 10px;
  color: #4733cc;
  font-size: 12px;

  &:hover {
    color: #8a7ed8;
    cursor: pointer;
  }
}

#simpleLoginWrap {
  display: flex;
  justify-content: center;
  width: 498px;

  > div {
    width: 262px;
  }
}

#simpleLoginTit {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#naverBtnWrap {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  width: 262px;
  height: 44px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #1ec800;
  cursor: pointer;
}

#kakaoBtnWrap {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  width: 262px;
  height: 44px;
  border-radius: 5px;
  border: none;
  color: black;
  background-color: #fee500;
  cursor: pointer;
}

#naverLogin,
#kakaoLogin {
  margin-left: 40px;
}

#naverLogo,
#kakaoLogo {
  margin-left: 20px;
}
