$bgColor: #f1f1f1;
$pageColor: white;

* {
  margin: 0px;
  padding: 0px;
}

/* header */

header {
  margin: 0 auto;
  width: 100%;
  height: 48px;
  background-color: white;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: 1194px;
  }
}

#gnb {
  display: flex;
  align-items: center;
  height: 100%;
}

#createRoom,
#joinRoom {
  margin-right: 20px;
  width: 54px;
  height: 26px;
  border-radius: 100px;
  border: none;
  color: #7f71d8;
  background-color: #f3f3fb;
  cursor: pointer;

  &:hover {
    color: #8a7ed8;
    background-color: #ebebff;
  }
}

#dropdown {
  position: relative;
  display: inline-block;
  font-size: 14px;
  padding: 14px;
  cursor: pointer;
}

#dropdownBtn div {
  justify-content: flex-end;
}

#dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  margin-top: 14px;
  min-width: 130px;
  padding: 4px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);

  a {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
  }

  a:hover {
    background-color: #fafafa;
    border-radius: 5px;
  }
}

#dropdown:hover #dropdownContent {
  display: block;
}

/* writeRoomInfo */

body {
  background-color: $bgColor;
}

section {
  margin: 30px auto;
  width: 1194px;
  height: 580px;
  background-color: $pageColor;
  border-radius: 10px;

  > div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 102px;
    width: 262px;
  }
}

#tit {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#inputTit {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4px;
  font-size: 12px;
}

#name,
#password {
  margin-bottom: 12px;
  padding-left: 20px;
  width: 242px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
}

#explain {
  margin-bottom: 12px;
  font-size: 12px;
  color: #b4b4b4;
}

#nextBtn {
  width: 262px;
  height: 44px;
  color: white;
  background-color: #b4b4b4;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
